.App {
  text-align: center;
}

.Home-page {
  color: gray;
  margin: 15%;
}

.Home-page p {
  margin: 60px;
}

.Home-page a {
  background-color: rgba(76, 0, 130, 0.87);
  border-radius: 5px;
  color: white;
  font-size: large;
  padding: 12px;
  text-decoration: none;
}
.Home-page a:hover {
  background-color: rgba(76, 0, 130, 0.561);
}